= simple_form_for(@steward_kpi, html: {class: 'form-horizontal' }) do |f|
  .form-inputs
    = f.input :parent_id, :as => :hidden, :input_html => { :value => @parent_id }
    = f.input :code, :required => false, :autofocus => true
    = f.input :position, :required => false
    = f.input :resource, :required => false
  .form-actions
    = f.button :submit, "Save"
