= form_for @steward_kpi do |f|
  - if @steward_kpi.errors.any?
    #error_explanation
      %h2= "#{pluralize(@steward_kpi.errors.count, "error")} prohibited this steward_kpi from being saved:"
      %ul
        - @steward_kpi.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :code
    = f.text_area :code
  .field
    = f.label :resource
    = f.text_field :resource
  .field
    = f.label :code_type
    = f.number_field :code_type
  .field
    = f.label :query_plan
    = f.number_field :query_plan
  .field
    = f.label :position
    = f.number_field :position
  .field
    = f.label :ancestry
    = f.text_field :ancestry
  .actions
    = f.submit 'Save'
