%h1 Listing steward_kpis

- if @parent_id
  - @parent.path.each do |sk|
    = link_to sk.resource, steward_kpis_path(parent_id: sk.id)
    >
%table.table.table-bordered
  %tr
    %th Resource
    %th Code
    %th Ancestry
    %th
    %th

  - @steward_kpis.each do |steward_kpi|
    %tr
      %td= link_to steward_kpi.resource, steward_kpis_path(parent_id: steward_kpi.id)
      %td= raw steward_kpi.code
      %td= steward_kpi.ancestry
      %td= link_to 'Edit', edit_steward_kpi_path(steward_kpi)
      %td= link_to 'Destroy', steward_kpi, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Steward kpi', new_steward_kpi_path(parent_id: @parent_id)
